.list-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.load-more {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}
.load-more button {
  padding: 10px;
  color: #fff;
  background-color: rgb(70, 6, 248);
  border: none;
  cursor: pointer;
}
.load-more button:hover {
  background-color: blueviolet;
}